body{
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    text-align: center;
    padding: 0 2% ;
}
h1 h2{
    color: white;
}

#counter {
    color: #31c48d;
    font-size: 250px;
    margin: 0;
}
button{
    width: 100%;
    height: 100%;
}
.small-heading{
    font-size: 75px;
}

.tally-area{
    border-radius: 1%;
    padding: 2% 0 0;
    background-color: #33333d   ;
    width: 100%;
}
.buttons{
    padding: 5%;
    border-top: 2px solid #424250 ;
    margin: 0;
}
.increment{
    border-left: 2px solid #424250 ;
}

.buttons:hover  {
    background-color: #424250  ;
}

.btn{
    width: 20%;
    margin-bottom:2%;
}
